<% provide(:page_title, "作品") %>
<div class="page-header" title="products"></div>
<div class="container">
  <% @products.each do |product| %>
      <div class="padding"></div>
      <div class="product">
        <div class="row">
          <div class="col-4">
            <%= image_tag "break_gear/logo.png", class: "logo" %>
            <div class="big-page">
              <% product.product_links.each do |link| %>
                  <a href="<%= link.url %>" class="button"><%= link.name %></a>
                  <%= link_to "<span>#{link.name}編集</span>".html_safe, edit_product_link_path(link) if login? %>
                  <%= link_to "<span>#{link.name}削除</span>".html_safe, product_link_path(link), method: :delete if login? %>
              <% end %>
              <%= link_to "リンク追加", new_product_link_path(product_id: product.id), class:'button' if login? %>
            </div>
          </div>
          <div class="col-8">
            <h2 class="title english-shadow"><%= product.name %></h2>
            <div class="genre">
              <table class="table table-sm">
                <tr>
                  <th>ジャンル:</th>
                  <td><%= product.genre %></td>
                </tr>
                <tr>
                  <th>価格:</th>
                  <td><%= product.price %>円</td>
                </tr>
                <tr>
                  <th>メンバー:</th>
                  <td>
                    <ul>
                      <% product.member_products.each do |member_product| member = member_product.member %>
                        <li><%= link_to "<span>#{member.name}</span>".html_safe, member %><%= link_to "<span>削除</span>".html_safe, member_product_path(member_product.id), method: :delete if login? %></li>
                      <% end %>
                    </ul>
                    <%= link_to "<span>追加</span>".html_safe, new_member_product_path(product_id: product.id) if login? %>
                  </td>
                </tr>
              </table>
            </div>
            <h5 class="slogan big-page"><%= product.slogan %></h5>
            <p class="describe big-page"><%= product.describe %></p>
          </div>
        </div>
        <h5 class="slogan small-page"><%= product.slogan %></h5>
        <p class="small-page">
          <%= product.describe %>
        </p>
        <div class="row small-page">
          <% product.product_links.each do |link| %>
              <div class="col-sm-6">
                <a href="<%= link.url %>" class="button"><%= link.name %></a><br/>
                <%= link_to "<span>#{link.name}編集</span>".html_safe, edit_product_link_path(link) if login? %>
                <%= link_to "<span>#{link.name}削除</span>".html_safe, product_link_path(link), method: :delete if login? %>
              </div>
          <% end %>
          <% if login? %>
              <div class="col-sm-6"><%= link_to "リンク追加", new_product_link_path(product_id: product.id), class:'button' %></div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-sm-6 col-12">
            <div class="movie-wrapper"><iframe class="movie" src="https://www.youtube.com/embed/VmNxGXyjVOo" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>
          </div>
          <div class="col-sm-2 col-4">
            <%= image_tag "break_gear/screen-shot1.jpg", class: "screen-shot" %>
          </div>
          <div class="col-sm-2 col-4">
            <%= image_tag "break_gear/screen-shot2.jpg", class: "screen-shot" %>
          </div>
          <div class="col-sm-2 col-4">
            <%= image_tag "break_gear/screen-shot3.jpg", class: "screen-shot" %>
          </div>
        </div>
      </div>
      <% if login? %>
            <div><%= link_to "#{product.name}を編集する", edit_product_path(product.id), class:'button' %></div>
      <% end %>
      <div class="hr-padding"></div>
  <% end %>
</div>