<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <%= link_to image_tag('jack_white.svg'), root_path, class:'logo' %>
    <ul class="list-inline">
      <li class="list-inline-item"><%= link_to "jackとは", about_path %></li>
      <li class="list-inline-item"><%= link_to "作品", products_path %><</li>
      <li class="list-inline-item"><a href="#">実績</a></li>
      <li class="list-inline-item"><a href="#">ブログ</a></li>
      <li class="list-inline-item"><%= link_to "メンバー", members_path %></li>
      <li class="list-inline-item"><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </header>
  <%= yield %>
  <div class="container">
    <hr>
    <div class="copyright">2016-<%= Date.today.year %> &copy; jack<%= login? ? "login as #{current_member.name} #{link_to "logout", logout_path, method: :delete}".html_safe: "" %></div>
    <div><%= debug(params) %></div>
  </div>
  </body>
</html>
