<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js" type="text/javascript"></script>
  </head>

  <body>
  <header class="header">
    <%= link_to image_tag('jack_white.svg'), root_path, class:'logo' %>
    <ul class="list-inline">
      <li class="list-inline-item"><%= link_to "jackとは", about_path %></li>
      <li class="list-inline-item"><%= link_to "作品", products_path %></li>
      <li class="list-inline-item"><%= link_to "イベント・実績", events_path %></li>
      <li class="list-inline-item"><%= link_to "ブログ", entries_path %></li>
      <li class="list-inline-item"><%= link_to "メンバー", members_path %></li>
      <li class="list-inline-item"><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </header>
  <div id="barba-wrapper" aria-live="polite">
    <div class="barba-container">
      <%= yield %>
    </div>
  </div>
  <div class="container">
    <hr>
    <div class="copyright">2016-<%= Date.today.year %> &copy; jack<%= login? ? " logged in as #{current_member.name} #{link_to "logout", logout_path, method: :delete}".html_safe: "" %></div>
    <div><%= debug(params) if Rails.env.development? %></div>
  </div>
  </body>
</html>
